<% restaurants.each do |restaurant| %>
  <h2><%= restaurant.name %></h2>
  <div class="row mb-5">
  <div class="col-12 col-md-6">
    <h3>Accepted orders</h3>
    <% restaurant.carts.where(confirmed: 2, request_type: 0).each do |order| %>
      <%= render 'order_card', order: order %>
    <% end %>
  </div>
  <div class="col-12 col-md-6">
    <h3>Pending orders</h3>

    <% restaurant.carts.where(confirmed: 1, request_type: 0).each do |order| %>
      <%= render 'order_card', order: order %>
    <% end %>
  </div>
</div>

<% end %>
