// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;

$bright-red: #FB3317;
$dark-yellow: #FFBA47;
$light-gray: #E7E5DF;
$dark-grey: #515052;
$grey: #D3D0CB;
