.restaurant-show-header {

  background-position: center;
  background-size: cover;
  color: white;
  text-shadow: 1px 1px 0px #16302b96;
  h3 {
    color: white;
  }
}


.restaurant-show-img {
  width: 100%;
}

.restaurant-show-information {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #e4dfd4;
}

.restaurant-status {
  font-size: 1.2em;
}

.restaurant-info {
  border-radius: 10px;
  box-shadow: none;
  border: 0;
  font-size: .8em;
  .list-group-item {
    border: 0;
    border-bottom: 1px dotted $grey;
    &:last-child {
      border-bottom: 0;
    }
  }
}

.dish-price-buttons {
  a {
    color: inherit;
  }
}


.restaurant-img {
  border-radius: 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.top-notice {
  background-color: #ece7dd;
  border-radius: 10px;
  width: 100%;
  padding: 1em;
}

.restaurant-menu {
  border-radius: 10px;
  box-shadow: none;
}


#map {
  border-radius: 0 0 10px 10px;
}

.jumbotron {
  height: 40vh;
  background-attachment: fixed;
}







