
<div class="alert alert-success alert-dismissible notification-alert" role="alert">
  <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
  <strong>You have a new order!</strong>
</div>
