.button {
  border-radius: 10px;
}
.rest-btn {
  background-color: #FBF7ED;
  color: $bright-red;
}
.rest-btn :hover {
  background-color: $dark-yellow;
}

.btn-primary {
  background-color: darken($dark-yellow, 15%) !important;
  border: none;
  border-radius: 10px;
  &:hover, &:active, &:focus {
    background-color: darken($dark-yellow, 25%);
  }
}

.card-body, .btn, .btn-primary {
 box-shadow: 1px 1px 1px #e2e2e2;
}
.btn, .btn-danger, .shadow-lg {
  box-shadow: 1px 1px 1px #b2b2b2;
}


