.button {
  border-radius: 10px;
}
.rest-btn {
  background-color: #FBF7ED;
  color: $bright-red;
}
.rest-btn :hover {
  background-color: $dark-yellow;
}

.btn-primary {
  background-color: darken($dark-yellow, 15%) !important;
  border: none;
  border-radius: 10px;
  &:hover, &:active, &:focus {
    background-color: darken($dark-yellow, 25%);
  }
  color: white;
}


