.card-body {

  border-radius: 10px 0 0 10px;
  width: 60%;
}
.card {
  border: none;
}

.restaurant-card {
  background-color: white;
  box-shadow: 0 0 10px #e4dfd4;
  border-radius: 10px;
  width: 100%;
}

.restaurant-card-img {
  width: 40%;
  border-radius: 0 10px 10px 0;
  height: 300px;
  object-fit: cover;
  object-position: center;
  overflow: auto;
}
