.info-restaurant {
  color: $bright-red;
}
.list-group {
  box-shadow: 1px 1px 1px #e4e4e4;

}
.table {
  color: $bright-red;
  background-color: $dark-yellow;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #2b2b2b;
}

.table a {
  color: $bright-red;
}
.container h1, h2, h3{
  text-shadow: 0.2px 0.2px #e4e4e4;
}
