.navbar-lewagon {
  justify-content: space-between;
  background-color: $dark-yellow;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-brand {
  p {
    color: $bright-red;
    margin: 0px 4px;
    padding: 0px 4px;
    font-weight: bold;
    &:hover {
      margin: 0px 4px;
      padding: 0px 4px;
    }
  }
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: $bright-red;
  font-weight: bold;
}

.navbar-expand-sm .navbar-nav .dropdown-menu {
  background-color: #fbf7ed;
}

.dropdown-item {
  a {
    &:hover {
      color: $bright-red;
    }
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $bright-red;
  font-weight: bold;
  &:hover {
    color: $bright-red;
  }
}
.nav-link {
  color: $bright-red;
}

.nav-pills .nav-link.active {
  background-color: $dark-yellow;
  color: $bright-red;
}
.nav {
  background-color: $dark-yellow;
}
