.navbar-lewagon {
  justify-content: space-between;
  background: $grey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-brand {
  border: 1px solid rgb(255, 91, 68);
  p {
    color: $bright-red;
    margin: 0px 4px;
    padding: 0px 4px;
    &:hover {
      // color: $dark-yellow;
      margin: 0px 4px;
      padding: 0px 4px;
    }
  }
}
